body {
    padding: 50px;
}
h2 {
    color: rgb(165, 57, 6);
}
h3{
    color: rgb(150, 6, 150);
}
.img {
    width: 99%;
}
.Preparation{
    background-color: hsl(331, 25%, 77%);
    border-radius: 5px;
}
.Preparation h3{
    padding: 10px;

}
table{
    border-collapse: collapse;}
td{
    width: 90%;
    border-bottom: 1px solid black;
}
